<!--- footer partial for the app --->

<footer class="footer">
  <small>
    Made by Bronson Lane as a demo of Rails.
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to current_participant.first_name + " " + 
                        current_participant.last_name, 
                        current_participant %></li>
      <% else %>
        <li><%= link_to "Login",        login_path %></li>
      <% end %>  
      <li><%= link_to "About",        about_path %></li>
      <li><%= link_to "Contact",      contact_path %></li>
      <li><%= link_to "global(x)",    "http://globalx.org", target: "_blank" %></li>
    </ul>
  </nav>
</footer>
